@import "tailwindcss";

@theme {
  /* 480px or larger */
  --breakpoint-xs: 30rem;
}

.eb-garamond-regular {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-header {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
